.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: max-content;
    min-width: 40vw;
  }
  
  .imageWrapper {
    width: 40%;
    overflow: hidden;
  }
  
  .imageWrapper img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* or 'contain' if needed */
  }
  
  .info {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  